# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Local database
database.db
*.sqlite3
*.db

# Logs
*.log

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional: ignore generated data/models if they are large
data/
models/

# backend run --> uvicorn main:app --reload 